# Python cache
__pycache__/
*.py[cod]
*.pyo
.mypy_cache/

# Logs and DBs
*.log
*.sqlite3
*.db

# Environment
.env
.env/

# IDE / editor
.vscode/

# Virtual environments
venv/

# Node / Vite
node_modules/
dist/
build/
.vite/
*.local

# System
.DS_Store
Thumbs.db

