# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env
*.db
*.DS_Store
.env
.vscode/
*.mypy_cache/
*.pyo

# Virtual environments
venv/
.env/

# Node.js / Vite
node_modules/
dist/
build/
.vite/
*.local

# VSCode
.vscode/

# OS junk
Thumbs.db
.DS_Store
