<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <button class="theme-toggle" onclick="toggleTheme()">Toggle Dark Mode</button>
        <a href="{{ url_for('index') }}">Home</a>
    </div>

    <h1>Login</h1>

    <form method="POST" action="{{ url_for('login') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

      <!-- Link to the JavaScript file -->
      <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>